<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Mapper.AppointmentsMapper">

    <!-- 查询所有用户（带动态条件） -->
    <select id="getSchedules" resultType="com.Entity.Pojo.Appointment">
        SELECT * FROM users
        <where>
            <if test="userName != null and userName != ''">
                AND user_name LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="userStatus != null">
                AND user_status = #{userStatus}
            </if>
            <if test="userPhone != null and userPhone != ''">
                AND user_phone LIKE CONCAT('%', #{userPhone}, '%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

<!--    <update id="updateUser">-->
<!--        update users-->
<!--        <set>-->
<!--            <if test="user.displayName != null">-->
<!--                display_name = #{user.displayName},-->
<!--            </if>-->
<!--            <if test="user.userPrivate != null">-->
<!--                user_private = #{user.userPrivate},-->
<!--            </if>-->
<!--            <if test="user.userPhone != null">-->
<!--                user_phone = #{user.userPhone},-->
<!--            </if>-->
<!--            <if test="user.userStatus != null">-->
<!--                user_status = #{user.userStatus}-->
<!--            </if>-->
<!--        </set>-->
<!--        where user_id = #{id}-->
<!--    </update>-->

</mapper>
