<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Mapper.MedicinesMapper">

    <insert id="addMedicine">
        call addMedicine(#{medicineName},#{medicineSpec},#{medicineUnit},#{medicineCategory},#{manufacturer},#{price},#{stockQuantity},#{minStock})
    </insert>

    <update id="updateMedicine">
        call updateMedicine(#{medicineId},#{medicineName},#{medicineSpec},#{medicineUnit},#{medicineCategory},#{manufacturer},#{price},#{stockQuantity},#{minStock})
    </update>
    <update id="order" statementType="CALLABLE">
        call sp_decrease_stock(#{medicineId},#{quantity},#{success,mode=OUT,jdbcType=INTEGER})
    </update>

    <delete id="deleteMedicine">
        delete from medicines where medicine_id=#{medicineId}
    </delete>

    <select id="getMedicines" resultType="com.Entity.VO.MedicineVO">
        call getMedicines(#{medicineName},#{medicineCategory},#{medicineStatus});
    </select>
<!--    <select id="count" resultType="java.lang.Integer">-->
<!--        call countMedicine()-->
<!--    </select>-->
</mapper>
