<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Mapper.PatientsMapper">

    <!-- 添加患者 -->
    <insert id="addPatient" parameterType="com.Entity.DTO.PatientDTO" statementType="CALLABLE">
        {call addPatient(
        #{patientName},
        #{patientGender},
        #{patientBirth},
        #{patientAddress},
        #{patientPhone},
        #{patientIdCard},
        #{patientAllergy},
        #{patientHistory},
        #{patientId, mode=OUT, jdbcType=VARCHAR}
        )}
    </insert>

    <select id="updatePatient" statementType="CALLABLE" resultType="integer">
        {call updatePatient(
                #{patientId, mode=IN, jdbcType=INTEGER},
                #{patientName, mode=IN, jdbcType=VARCHAR},
                #{patientGender, mode=IN, jdbcType=TINYINT},
                #{patientAge, mode=IN, jdbcType=INTEGER},
                #{patientBirth, mode=IN, jdbcType=DATE},
                #{patientAddress, mode=IN, jdbcType=VARCHAR},
                #{patientPhone, mode=IN, jdbcType=VARCHAR},
                #{patientIdCard, mode=IN, jdbcType=VARCHAR},
                #{patientCase, mode=IN, jdbcType=VARCHAR},
                #{patientAllergy, mode=IN, jdbcType=VARCHAR},
                #{patientHistory, mode=IN, jdbcType=VARCHAR},
                #{patientCasedetail, mode=IN, jdbcType=VARCHAR}
              )}
    </select>

    <delete id="deletePatient">
        call deletePatient(#{patientId})
    </delete>

    <select id="getPatients" statementType="CALLABLE" resultType="com.Entity.DTO.PatientDTO">
        call getPatient(#{patientName},#{patientPhone},#{patientCase})
    </select>


</mapper>
