<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Mapper.SchedulesMapper">


    <select id="getSchedules" resultType="com.Entity.DTO.ScheduleDTO">
        call getSchedules(#{doctorId},#{startDate},#{endDate},#{scheduleStatus},#{scheduleTime})
    </select>

    <insert id="insertSchedule">
        call addSchedule(#{doctorId},#{scheduleDate},#{scheduleTime},#{maxPatients},#{scheduleStatus})
    </insert>

    <delete id="deleteSchedules">
        call deleteSchedules(#{scheduleId})
    </delete>

    <update id="updateSchedule">
        call updateSchedule(#{scheduleId},#{doctorId},#{scheduleDate},#{scheduleTime},#{maxPatients},#{scheduleStatus})
    </update>

</mapper>
